<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.farhana.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>com.farhana.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.farhana.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidController</servlet-name>
        <servlet-class>com.farhana.controllers.BidController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerController</servlet-name>
        <servlet-class>com.farhana.controllers.SellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobController</servlet-name>
        <servlet-class>com.farhana.controllers.JobController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidController</servlet-name>
        <url-pattern>/BidController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerController</servlet-name>
        <url-pattern>/SellerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobController</servlet-name>
        <url-pattern>/JobController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
